body {
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}

.title {
    color: #562EFF;
    margin-top: 2px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;


}

section {
    width: 870px;
    background-color: #ffff;
    padding: 30px;
    border-radius: 10px;
}


hr {
    border: 1px solid #D1D1D1;
    margin-top: 30px;

}




.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.players .player {
    display: flex;
    align-items: center;
}

.players .player img {
    height: 56px;
    width: 56px;
}

.players .player h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500px;
    font-size: 18px;
}

.players .player .left {
    margin-left: 15px;
}



.top-blogs .blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
}

.top-blogs .blogs {
    display: flex;

}

.top-blogs .blogs .thumbnail img {
    width: 224px;
    height: 127;
}

.top-blogs .blogs .right {
    margin-left: 15px;
}

.top-blogs .blogs .right h3 {
    width: 190px;
}

.top-blogs .blogs .tag .by {
    color: #9F9F9F;

}

.top-blogs .blogs .tag a {
    text-decoration: none;
    color: #562EFF;
}


#course {
    width: 870px;
    margin-top: 23px;

}

#course .last-course {
    display: flex;
    justify-content: space-between;

}

#course .last-course .latest {
    box-shadow: 4px 26px 26px -22px rgba(208, 199, 199, 0.971);
    padding: 10px;
    width: 30%;
    border-radius: 5px;
}

#course .thumbnail img {
    width: 224px;
}

#course .details .name {
    color: #FF4A60;
    margin: 1px 0;
}

#course .fa-star.gold {
    color: #FFC014;
}

#course .ratings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}


#course .fa-star.grey {
    color: grey;
}

#course .ratings a {
    text-decoration: none;
    margin-left: 5px;
    color: grey;
}

#course .ratings .time {
    color: #FF4A60;
    background: #FFE4E8;
    padding: 5px 8px;
    border-radius: 10px;
    margin-right: 20px;

}

#course .ratings .time a {
    color: #FF4A60;
}


/* Responsive */


@media screen and (max-width:688px) {
    section {
        width: 100%;
    }

    .players {
        background-color: rgb(245, 236, 236);
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
    }

    .player {

        justify-content: center;
        flex-direction: column;
    }

    .top-blogs .blog {
        grid-template-columns: repeat(1, 1fr);
    }

    #course {
        text-align: center;
    }

    #course .last-course {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}